<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Database</title>
    <link rel="stylesheet" href="style/styles.css">
</head>
<body>
    <h1>About DIScover Chess</h1>
    <p>"DIScover Chess" is a project developed as part of the Databases and Information Systems 
        course at the University of Copenhagen during the spring semester of 2024. This project aims
        to create a comprehensive database system for storing and analyzing chess games, players, 
        tournaments, and related data.</p>
    <a href="https://github.com/mamure/DIS-Project">Link to GitHub Repository</a>
    <br>
    <br>
    <footer>
        <p>Created by: jlw218, hnb825, rzd350</p>
    </footer>
</body>
</html>
