<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Database</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="database.html">Database</a></li>
            <li><a href="upload.html">Upload</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to DIScover Chess!</h1>
        <h2>The (un)official Chess DIStabase</h2>
        <h3>DIS Project 2024</h3>
    </div>
    <footer>
        <p>Created by: jlw218, hnb825, rzd350</p>
    </footer>
</body>
</html>
