<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to DIScover Chess!</h1>
        <h2>The (un)official Chess DIStabase</h2>
        <h3>DIS Project 2024</h3>
        <p>
            Welcome, grandmasters and pawns alike, to the ultimate nexus of knightly knowledge and pawn-powered programming! Here at DIScover Chess, we believe in the perfect blend of academia and amusement. Our database isn't just any collection of chess games; it's a DIStinctive DIStabase!
        </p>
        <p>
            Ever wondered what happens when you try to SELECT * FROM grandmasters WHERE IQ > 200? Or maybe you’ve pondered how to execute a JOIN between rooks and bishops? Fear not, in our world, every checkmate is just a clever recursive function waiting to be called.
        </p>
    </div>
    <footer>
        <p>Created by: jlw218, hnb825, rzd350</p>
    </footer>
</body>
</html>
